:root {
	--color-1: #000000;
	--color-2: #171717;
	--color-3: #434343;
	--color-4: #eaeaea;
	--color-5: #adabab;
}

.p2g-navbar {
	background-color: var(--color-1);
}

.p2g-background {
	background-color: var(--color-2);
}

.p2g-panel {
	background-color: var(--color-3);
	border-radius: 3px;
}

.p2g-file-selector{
	background-color: var(--color-4);
	border-radius: 3px;
}

.p2g-separator {
	border-bottom: var(--color-2) 2px solid;
	border-top: var(--color-2) 2px solid;
}

.p2g-link{
	color: #eaeaea;
}

.p2g-input,
.p2g-input:focus,
.p2g-input-group {
	background-color: var(--color-4);
	color: var(--color-1);
	border: none;
	outline: none;
	box-shadow: none;
}

.p2g-input:disabled {
	background-color: var(--color-4);
	color: rgb(135, 38, 38);
	border: none;
}

.p2g-input-group {
	border-right: 3px var(--color-3) solid;
}

.p2g-select,
.p2g-select:focus {
	background-color: var(--color-4);
	color: var(--color-1);
	border: none;
	outline: none;
	box-shadow: none;
}

.p2g-checkbox,
.p2g-checkbox:focus,
.p2g-checkbox:checked {
	background-color: var(--color-4);
	border: none;
	box-shadow: none;
	transform: scale(1.5);
}

.p2g-panel-button {
	background-color: var(--color-3);
	color: var(--color-6);
	border: none;
	outline: none;
	box-shadow: none;
}

.p2g-panel-button:hover {
	background-color: var(--color-5) !important;
	color: white !important;
	border: none;
}

.p2g-panel-button.active {
	background-color: var(--color-4) !important;
	color: var(--color-1) !important;
	border: none;
}

.p2g-button {
	background-color: var(--color-5);
	color: var(--color-6);
	border: none;
	outline: none;
	box-shadow: none;
}

.p2g-button:hover {
	background-color: var(--color-4) !important;
	color: var(--color-1) !important;
	border: none;
}

.p2g-radio {
	width: 100%;
	background-color: var(--color-4);
	/* border: 3px var(--color-4) solid; */
	border: none;
	color: var(--color-1);
	outline: none;
	box-shadow: none;
}

.p2g-radio:hover {
	color: var(--color-1) !important;
}

.p2g-select-arrow {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.p2g-switch {
	background-color: var(--color-4);
	/* border: 3px solid var(--color-4); */
	border: none;
	position: relative;
	border-radius: 25px;
	transition: background-color 0.3s;
}

.p2g-switch:checked {
	background-color: #b8001b; /* Red when checked */
	/* border: 3px solid var(--color-4); */
	border: none;
}

.p2g-switch:focus {
	box-shadow: none;
	outline: none;
	/* border: 3px solid var(--color-4); */
	border: none;
}
